// ────────────── Startup Applications ──────────────
// https://niri-wm.github.io/niri/Configuration%3A-Miscellaneous#spawn-at-startup

    spawn-at-startup "noctalia"

    // org.freedesktop.FileManager1.common:
    spawn-at-startup "/usr/local/libexec/file_manager_dbus"

    spawn-at-startup "sh" "-c" "syncthing serve --no-browser"
